.sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 100vh;
    flex-direction: column;
}

#tittle1{
    color: #ffff;
    font-size: 3.25rem;
}

.div{
    text-align: center;
}